{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ post.image.url }}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>{{ post.title }}</span>
                                        <a href="post-details.html"><h4>{{ post.category }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ post.auther }}</a></li>
                                            <li><a href="#">{{ post.created }}</a></li>
                                            <li><a href="#">10 Comments</a></li>
                                        </ul>
                                        <p>{{ post.body }}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Best Templates</a>,</li>
                                                        <li><a href="#">TemplateMo</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>4 comments</h2>
                                    </div>
                                    <div class="content">
                                        <ul>

                                            {% for comment in comments %}
                                                {% if comment.parent == None %}

                                                    <li>
                                                        <div class="author-thumb">
                                                                <img src="{% static 'images/default1.jpg' %}" alt="">
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ comment.author.get_full_name }}<span>{{ comment.created }}</span>
                                                            </h4>
                                                            <p>{{ comment.body }}</p>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                                {% for reply in comment.replies.all %}
                                                    <li class="replied">
                                                        <div class="author-thumb">
                                                                <img src="{% static 'images/default1.jpg' %}" alt="">
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ reply.author.get_full_name }}<span>{{ reply.created }}</span></h4>
                                                            <p>{{ reply.body }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" action="#" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                    <textarea name="message" rows="6" id="message"
                                                              placeholder="Type your comment" required=""></textarea>
                                                    </fieldset>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">
                                                            Submit
                                                        </button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item search">
                                    <form id="search_form" name="gs" method="GET" action="{% url 'search' %}">
                                        <input type="text" name="q" class="searchText" placeholder="type to search..."
                                               autocomplete="on">
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    <div class="sidebar-heading">
                                        <h2>Recent Posts</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for post in recent_post %}
                                                <li><a href="post-details.html">
                                                    <h5>{{ title }}</h5>
                                                    <span>{{ Updated }}</span>
                                                </a></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item categories">
                                    <div class="sidebar-heading">
                                        <h2>Categories</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {% for Category in categories %}
                                                <li><a href="#">- {{ Category.title }}</a></li>
                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item tags">
                                    <div class="sidebar-heading">
                                        <h2>Tag Clouds</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Lifestyle</a></li>
                                            <li><a href="#">Creative</a></li>
                                            <li><a href="#">HTML5</a></li>
                                            <li><a href="#">Inspiration</a></li>
                                            <li><a href="#">Motivation</a></li>
                                            <li><a href="#">PSD</a></li>
                                            <li><a href="#">Responsive</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}